*.o
*.crf
*.d
*.map
*.Bak
/Demo/SD/MDK-ARM/SD/*
/Demo/Libraries/*
/已过期/*
/Demo/M95512/build/*
/Demo/Collection/build/*
*.dbgconf
/Demo/ConnetBoard/MDK-ARM/ConnetBoard/*
*.axf
*.htm
*.hex
*.lnp
*.dep
*.iex
/Libraries/aq_mavlink/generated/*
*.udb
*.bin
*.lst
*.uvguix.*

JLinkLog.txt

**/.vs/
**/VisualGDB/Debug/
**/VisualGDB/Release/
**/.visualgdb/
